html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.58;
  color: #222;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
  font-size: 1.5rem;
}

.beta {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
  font-size: 1.5rem;
  font-style: italic;
}

a {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

header ol {
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: .92rem;
  font-family: "PT Serif", serif;
}

main p:first-of-type {
  font-weight: bold;
  text-align: left;
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
}

main p:nth-child(3) {
  text-align: left;
  font-size: .92rem;
}

.fact {
  text-align: left;
  font-size: .92rem;
}

blockquote {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
}

.chris {
  font-size: .8rem;
}

main ol li {
  list-style-type: lower-greek;
}

main h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
  font-weight: bold;
}

aside h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
  font-weight: bold;
}

dl dt:nth-child(1){
  font-style: italic;
}

dl dt:nth-of-type(2) {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bold;
}

dl dt:nth-of-type(3) {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bold;
}

dl dt:nth-of-type(4) {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bold;
}

dl dt:nth-of-type(5) {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bold;
}
