html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  color: #3f1622;
  font-size: 1.5rem;
}

header ol a {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
}

header ol a:hover {
  color: #b42885;
}

header ol {
  list-style-type: none;
}

img {
  width: 100%;
}
